
body{
overflow-x: hidden;
}
.swiperCat {
  padding:15px 5px;
  width:97%;
  height:170px;
}

.swiperCat .swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: white;
  padding:10px;  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100px;
  height: 100px;
  
}
.swiper-slide{
    display: flex;
   /* flex-direction: column; */
}
.cat{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding:20px;
}
.cat span{
  font-size:13pt;
  color:rgb(66, 66, 66);
  font-weight:bold;
  margin-top: 10px;
}
.swiperCat .swiper-button-prev, .swiper-rtl .swiper-button-next {
    background: white;
    color: black;
    
    left: var(--swiper-navigation-sides-offset, 20px);
    right: auto;
    border-radius: 50%;
    color:black;
    width:40px;
    height:40px;
    display: none;
}
.swiperCat.swiper-button-prev:after, .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: 12pt;
    text-transform: none !important;
    color:black;
    font-weight: bold;
    
}

.swiperCat .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 20px);
    left: auto;
    display: none;
}
 .swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex

;
    align-items: center;
    justify-content: center;
    color: black;
     width:40px;
    height:40px; 
  border-radius: 50%;
  background-color: white;
  
}